body {
	font-family: 'arial';
}

table {
	border-collapse: collapse;
}

th {
	text-align:left;
}

.recipe {
	text-align:right;
	vertical-align: top;
	padding-right: 20px;
}

td {
	text-align: left;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	border-bottom: 1px solid #888888;
}

.location {
	font-size: 80%;
	color: #00008B;
}

.items {
	padding-right: 50px;
}

.missing {
	font-style: italic;
}

.lastrow > td {
	padding-bottom: 20px;
	border-bottom: none;	
}